# Windows junk
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# PHP/Server junk
.phpunit.result.cache
logs/
*.log

# VS Code junk
.vscode/
.idea/
*.swp
*.log

# Office Temporary Files
~$*
.~lock.*
*.tmp

# OS/Cloud Sync
*.sync
.dropbox
.oneDrive

# App specific
/vendor/
/node_modules/
.env